.script-card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .tg-link {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #0088cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007aff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007aff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
header{
    color: #fff;
}
/